*{
    margin:0;
    font-family: 'Work Sans';
}
.div-title{
    font-weight: 700;
font-size: 65px;
}
.head-bg{
    
    position: relative;
   
}
.first-head {
    position: absolute;
    top: 417px;
    left: 850px;
  }
  .second-head{
    position: absolute;
    top: 517px;
    left: 850px;
  }

  }