*{
    margin:0;
    font-family: 'Work Sans';
}
.div-title{
    font-weight: 700;
font-size: 65px;
}
.head-bg{
        position: relative;
      width: 1600px;
    height: 809px;
   
}
.first-head {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 76px;
    text-align: right;
    
    /* Dark 01 */
    color: #151414;
  }
  .second-head{
    
position: absolute;
width: 494px;
height: 78px;
left: 876px;
top: 468px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

/* or 162% */
text-align: right;
  }
 .btn-head{
    position: absolute;
    width: 160px;
height: 64px;
left: 1210px;
top: 578px;
background: #F15B22;
color: white;
    
 }
 .second-level{
    position: relative;
left: 206px;
top: 600px;
 }
 .second-level-head{
    position: absolute;
    left: 862px;
top: 1000px;
 }
 .second-level-description{
    position: absolute;
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1050px;

 }
. list-2nd-level{
    position: absolute;
    width: 349px;
    height: 162px;
    left: 862px;
    top: 1416px;
 }
 ul{
    position:inherit;
    display:block;
    align-items: center;
    
 }
li {
    position:inherit;
    list-style:none;
    margin-left: 862px;
    top: 1416px;

 }
 .section-title{
text-align:center;
 }
 .plan-container{
    display: flex;
    justify-content: space-around;
    width: 1141px;
height: 299.96px;
top: 1792.3px;
padding-left:230px ;
 }
 .plans-info{
    text-align: center;

 }
 .plan-title{
    color: #151414;
    font-style: normal;
font-weight: 700;
 }
 .plan-target{

 }
 .img-gradient {
   
    background-image: url("/images/watch.png"),linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%) ; /* fallback */
    background-repeat: no-repeat ;
  }
 

 